AI Job Scraper + Resume Optimizer.json
{
  "name": "AI Job Scraper + Resume Optimizer",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0BAEH4GUV8",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        -128
      ],
      "id": "c26ffbd6-edff-49ef-8678-ba16118d31a2",
      "name": "Slack Trigger",
      "webhookId": "b675b250-fcfb-4feb-aa37-310e16ec8c7e",
      "credentials": {
        "slackApi": {
          "id": "SOWyjAWVfKOU7uTf",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI agent tasked with determining whether the following user query is related to searching for a job: \"{{ $json.blocks[0].elements[0].elements[1].text.trim() }}\". Analyze the query for keywords, phrases, or context that indicate a job search, such as terms like \"job,\" \"career,\" \"employment,\" \"hiring,\" \"position,\" \"vacancy,\" \"apply,\" \"resume,\" or specific job titles. Also consider questions about job applications, interviews, or job requirements. If the query indicates a job search, return the text \"YES\". If the query is unrelated to a job search, return \"NO\". Provide only the response without additional explanation.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -480,
        -128
      ],
      "id": "c44fbf10-946e-4cb9-b239-4bb9be99a34e",
      "name": "Check if the query is valid",
      "credentials": {
        "googlePalmApi": {
          "id": "olbe19pyc490Y1CV",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BAEH4GUV8",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "text": "Invalid Query / No Results Found.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        272,
        112
      ],
      "id": "6b92d9f4-447a-4582-b3de-ad55085f0d60",
      "name": "Invalid Query",
      "webhookId": "79f193df-c999-4e68-9d4b-b4f50c536822",
      "credentials": {
        "slackApi": {
          "id": "SOWyjAWVfKOU7uTf",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BAEH4GUV8",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "text": "=Searching.. {{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[1].text.trim() }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        80,
        -224
      ],
      "id": "9f17c542-98a4-48fd-8f28-e7757835c738",
      "name": "Send Searching for Jobs",
      "webhookId": "a6858d44-4857-4d07-b934-f653e4e8f334",
      "credentials": {
        "slackApi": {
          "id": "SOWyjAWVfKOU7uTf",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[1].text.trim() }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "num_pages",
              "value": "1"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "date_posted",
              "value": "3days"
            },
            {
              "name": "work_from_home",
              "value": "true"
            },
            {
              "name": "employment_types",
              "value": "FULLTIME, CONTRACTOR, PARTTIME"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "jsearch.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "d3ab005263msh42d05e5d9df6984p143e4ejsn420ec144d3f3"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        -224
      ],
      "id": "7a95ff97-387f-4167-b711-20572e09b26f",
      "name": "Get All Jobs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "58cf9d84-472b-4f55-a151-9a9b86a4e5a8",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -128,
        -128
      ],
      "id": "04e1aa82-be1c-4995-8845-ce72c721853c",
      "name": "Query is Valid?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b170e8f0-c8a6-465b-ab4b-0d4ac6c39fce",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        -224
      ],
      "id": "0f5a4965-d778-4174-b4b9-e974ff47860c",
      "name": "Check Results"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        704,
        -320
      ],
      "id": "da83d0ce-411e-483e-b5b5-825026e22f99",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        -160
      ],
      "id": "2154fe81-f1d5-4fa7-928f-7abc4d1bfe49",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1dzbSxlu9t1o4Fzt0_fEpDeLpw0ip2yHgStFlH-MGcFc"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -720,
        288
      ],
      "id": "3799c1d6-2bc2-4d5b-9bcf-8b549159e718",
      "name": "Get Resume Content",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "JyrVG8WHThn5ZzX3",
          "name": "JRaut GCP"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert resume analyst, ATS optimization specialist, and job-application assistant.  \nYour job is to take a resume, a job title, and a job description, then generate tailored outputs following strict rules.\n\n---------------------------------------\nINPUTS YOU WILL USE\n---------------------------------------\n\nJOB TITLE:\n{{ $('Loop Over Items').item.json.job_title }}\n\nRESUME CONTENT:\n{{ $json.content }}\n\nJOB DESCRIPTION:\n{{ $('Loop Over Items').item.json.job_description }}\n\nJOB POST URL:\n{{ $('Loop Over Items').item.json.job_apply_link }}\n\n---------------------------------------\nTASKS\n---------------------------------------\n\n1. Compare the resume to the job post and job title.\n2. Rewrite the resume content to be ATS-friendly** and highly optimized for the given job post.  \n   - Incorporate keywords from the job description.  \n   - Keep wording professional, concise, and quantifiable when possible.  \n   - Do NOT fabricate experience; strengthen what exists.  \n   - Split the new resume content into these sections, **in paragraph format**, but use **bullets where clarity is needed**:  \n     - `\"ProfessionalSummary\"`: 2–4 sentences summarizing expertise and value.  \n     - `\"CoreSkills\"`: Present as a short paragraph, then optionally list key skills with bullets.  \n     - `\"listOfProjects\"`: Describe projects in short paragraphs, include bullets for key achievements or outcomes.  \n     - `\"ProfessionalExperience\"`: Summarize each role in paragraph format, adding bullets for main responsibilities and measurable achievements.\n\n3. Check if the job post includes an email address.\n   - If yes, create a polished email application draft including:  \n     - `\"draftEmailAddress\"`  \n     - `\"draftEmailSubject\"`  \n     - `\"draftEmailBody\"`\n\n4. Check if the job post url contains an Upwork job link.\n   - If yes, write a compelling Upwork proposal tailored to the job:  \n     - `\"jobProposalforUpwork\"`\n\n5. Return all results strictly in this JSON format with no extra text:\n\n{\n  \"newResumeContent\": {\n    \"ProfessionalSummary\": \"\",\n    \"CoreSkills\": \"\",\n    \"listOfProjects\": \"\",\n    \"ProfessionalExperience\": \"\"\n  },\n  \"jobProposalforUpwork\": \"\",\n  \"draftEmailAddress\": \"\",\n  \"draftEmailSubject\": \"\",\n  \"draftEmailBody\": \"\"\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -512,
        288
      ],
      "id": "11f8f42d-a894-422a-8133-4738e1e41d7e",
      "name": "Create Resume Content and Proposal",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5b44ad0-fef2-493b-b60b-b879eb7f8251",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        64,
        288
      ],
      "id": "413b3af3-4d42-4fcf-b918-4b1b645a9d26",
      "name": "Resume Exist?",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        288
      ],
      "id": "fa106c4c-6631-414d-a938-da0ca51c24ec",
      "name": "Wait",
      "webhookId": "a199d870-f938-4dd1-8c21-46d26449253c"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1dzbSxlu9t1o4Fzt0_fEpDeLpw0ip2yHgStFlH-MGcFc",
          "mode": "list",
          "cachedResultName": "My Resume",
          "cachedResultUrl": "https://docs.google.com/document/d/1dzbSxlu9t1o4Fzt0_fEpDeLpw0ip2yHgStFlH-MGcFc/edit?usp=drivesdk"
        },
        "name": "={{ $('Search files and folders').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        288
      ],
      "id": "3c569c06-9045-4b8d-9fcc-fc9eaf0f79f5",
      "name": "Copy Resume Template",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xxiDl16XLPQ6FzgP",
          "name": "Google Drive JRauto GCP"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        288
      ],
      "id": "d8d61d55-0b11-4844-a3f2-d4f52a7a773c",
      "name": "Wait1",
      "webhookId": "0e8996fc-0b7d-4bc6-927a-a72b7e659765"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Copy Resume Template').item.json.id }}",
        "simple": "={{ true }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{ProfessionalSummary}}",
              "replaceText": "={{ $('Create Resume Content and Proposal').item.json.output.newResumeContent.ProfessionalSummary }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CoreSkills}}",
              "replaceText": "={{ $('Create Resume Content and Proposal').item.json.output.newResumeContent.CoreSkills }}"
            },
            {
              "action": "replaceAll",
              "text": "{{listOfProjects}}",
              "replaceText": "={{ $('Create Resume Content and Proposal').item.json.output.newResumeContent.listOfProjects }}"
            },
            {
              "action": "replaceAll",
              "text": "{{ProfessionalExperience}}",
              "replaceText": "={{ $('Create Resume Content and Proposal').item.json.output.newResumeContent.ProfessionalExperience }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        896,
        288
      ],
      "id": "818a6e41-0b73-4023-b8b6-5a309f173909",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "JyrVG8WHThn5ZzX3",
          "name": "JRaut GCP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6b5d9c60-2ab7-493c-a5eb-39529d77d8bb",
              "leftValue": "={{ $('Create Resume Content and Proposal').item.json.output.draftEmailAddress }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        288
      ],
      "id": "196216fc-bd6f-4426-a876-79e2d778c941",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Create Resume Content and Proposal').item.json.output.draftEmailSubject }}",
        "message": "={{ $('Create Resume Content and Proposal').item.json.output.draftEmailBody }}",
        "options": {
          "sendTo": "={{ $('Create Resume Content and Proposal').item.json.output.draftEmailAddress }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1328,
        272
      ],
      "id": "49edd327-02e5-4e38-a44c-ab24d1a1b3bf",
      "name": "Create an Email Draft",
      "webhookId": "04b62d79-30dd-4c9c-a706-eceb44dec2d1",
      "credentials": {
        "gmailOAuth2": {
          "id": "xXUgATaTTq1Sf6OB",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BAEH4GUV8",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "text": "=Job Title: {{ $('Loop Over Items').item.json.job_title }}\nJob Application Url: {{ $('Loop Over Items').item.json.job_apply_link }}\nOptimized Resume: https://docs.google.com/document/d/{{ $('Update a document').item.json.documentId }}/ {{ $('Create Resume Content and Proposal').item.json.output.jobProposalforUpwork ? `Upwork Proposal: ${$('Create Resume Content and Proposal').item.json.output.jobProposalforUpwork}` : '' }}\n{{ $json.message && $json.message.id ? `Email Draft: https://mail.google.com/mail/u/0/#inbox/${$json.message.id}` : '' }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1520,
        304
      ],
      "id": "247c98dc-08d0-499c-ba0c-b8d38df465b6",
      "name": "Send Details to Jobs Channel",
      "webhookId": "c8ca6e8a-9be1-4cbf-a26c-621e6f2b691b",
      "credentials": {
        "slackApi": {
          "id": "SOWyjAWVfKOU7uTf",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"newResumeContent\": {\n    \"ProfessionalSummary\": \"\",\n    \"CoreSkills\": \"\",\n    \"listOfProjects\": \"\",\n    \"ProfessionalExperience\": \"\"\n  },\n  \"jobProposalforUpwork\": \"\",\n  \"draftEmailAddress\": \"\",\n  \"draftEmailSubject\": \"\",\n  \"draftEmailBody\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -272,
        528
      ],
      "id": "a4052021-8ace-4197-b2e3-76cc6ae8e91a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -624,
        528
      ],
      "id": "a8796ae3-bc06-48e7-8b43-0e05aea7f936",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "gepftP9Z3BUdxy7v",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=Resume for {{ $('Loop Over Items').item.json.job_title }} - {{ $now.toFormat('MM/dd/yyyy') }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        288
      ],
      "id": "5ddf7395-c5be-4bcf-8933-3adef6c2ea7a",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xxiDl16XLPQ6FzgP",
          "name": "Google Drive JRauto GCP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Check if the query is valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if the query is valid": {
      "main": [
        [
          {
            "node": "Query is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Searching for Jobs": {
      "main": [
        [
          {
            "node": "Get All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query is Valid?": {
      "main": [
        [
          {
            "node": "Send Searching for Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Jobs": {
      "main": [
        [
          {
            "node": "Check Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Results": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Resume Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Resume Content": {
      "main": [
        [
          {
            "node": "Create Resume Content and Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Resume Content and Proposal": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Exist?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Copy Resume Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Resume Template": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an Email Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Details to Jobs Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an Email Draft": {
      "main": [
        [
          {
            "node": "Send Details to Jobs Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Details to Jobs Channel": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Create Resume Content and Proposal",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create Resume Content and Proposal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Resume Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "303329c0-133c-489f-a217-e17ed5b5564c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b97c862887b21f462b298553eb4f1f0cc8471837972954723b2b3b61b49adce"
  },
  "nodeGroups": [],
  "id": "Mun3yjJX9h9EXHq5",
  "tags": []
}