Automated Export Account Transaction from Xero Upload to CSV to Asana.json
{
    "name": "MAKE Project #2",
    "flow": [
        {
            "id": 1,
            "module": "asana:watchNewCompletedTasks",
            "version": 2,
            "parameters": {
                "page": 10,
                "filter": "project",
                "project": "1213837163920069",
                "__IMTCONN__": 6232697,
                "workspaceRPC": "1213719874357952",
                "modified_since": null,
                "completed_since": null
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "filter": {
                            "label": "Project"
                        },
                        "project": {
                            "mode": "chose",
                            "label": "[My workspace] Cross-functional project plan"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "asana"
                            },
                            "label": "My Asana connection (jrautomation05@gmail.com)"
                        },
                        "workspaceRPC": {
                            "label": "[Workspace] My workspace"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:asana",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "select",
                        "label": "Filter",
                        "required": true,
                        "validate": {
                            "enum": [
                                "workspaceassignee",
                                "project",
                                "section",
                                "tag"
                            ]
                        }
                    },
                    {
                        "name": "completed_since",
                        "type": "date",
                        "label": "Completed Since"
                    },
                    {
                        "name": "modified_since",
                        "type": "date",
                        "label": "Modified Since "
                    },
                    {
                        "name": "page",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "workspaceRPC",
                        "type": "select",
                        "label": "Workspace",
                        "required": true
                    },
                    {
                        "name": "project",
                        "type": "select",
                        "label": "Project ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "xero:MakeAPICall",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6233453
            },
            "mapper": {
                "url": "/2.0/BankTransactions?where=Date>=DateTime(2020, 01, 01) && Date<DateTime(2020, 02, 01)",
                "type": "text",
                "method": "GET",
                "baseUrl": "api.xro",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "tenantId": "7256f4a4-c7ca-42cc-8cbb-547d9b3f0f4d",
                "responseType": "json"
            },
            "metadata": {
                "designer": {
                    "x": 296,
                    "y": -9
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "type": {
                            "mode": "chose",
                            "label": "text"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "baseUrl": {
                            "mode": "chose",
                            "label": "api.xro"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "tenantId": {
                            "mode": "chose",
                            "label": "Demo Company (Global)"
                        },
                        "responseType": {
                            "mode": "chose",
                            "label": "json"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "xero3"
                            },
                            "label": "My Xero 2"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:xero3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "tenantId",
                        "type": "select",
                        "label": "Organization",
                        "required": true
                    },
                    {
                        "name": "baseUrl",
                        "type": "select",
                        "label": "Base URL",
                        "required": true,
                        "validate": {
                            "enum": [
                                "api.xro",
                                "payroll.xro",
                                "assets.xro",
                                "files.xro",
                                "projects.xro",
                                "bankfeeds.xro"
                            ]
                        }
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Request type",
                        "validate": {
                            "enum": [
                                "text",
                                "json",
                                "urlencoded",
                                "multipart/form-data"
                            ]
                        }
                    },
                    {
                        "name": "responseType",
                        "type": "select",
                        "label": "Response type",
                        "validate": {
                            "enum": [
                                "json",
                                "binary"
                            ]
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 596,
                    "y": -9
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{10.body.BankTransactions}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 888,
                                    "y": -162
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 15,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6234090
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{13.BankTransactionID}}",
                                    "1": "{{13.BankAccount.AccountID}}",
                                    "2": "{{13.BankAccount.Code}}",
                                    "3": "{{13.BankAccount.Name}}",
                                    "4": "{{13.Type}}",
                                    "5": "{{13.IsReconciled}}",
                                    "6": "{{13.Contact.ContactID}}",
                                    "7": "{{13.Contact.Name}}",
                                    "8": "{{13.DateString}}",
                                    "9": "{{13.Status}}",
                                    "10": "{{13.LineAmountTypes}}",
                                    "11": "{{13.SubTotal}}",
                                    "12": "{{13.TotalTax}}",
                                    "13": "{{13.Total}}",
                                    "14": "{{13.CurrencyCode}}",
                                    "15": "{{13.Reference}}"
                                },
                                "sheetId": "Bank Transaction sheet",
                                "spreadsheetId": "/1q7Q5XzH7SnU-EHrjjvhhTZxakHT0SYeovw8zuJjieYw",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "useColumnHeaders": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1196,
                                    "y": -159
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Bank Transaction sheet"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Bank Transaction"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "useColumnHeaders": {
                                            "label": "No",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "A"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "B"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "C"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "D"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "E"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "F"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "G"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "H"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "I"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "J"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "K"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "L"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "M"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "N"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "O"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "P"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Q"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "R"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "S"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "T"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "U"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "V"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "W"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "X"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "Y"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "Z"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values in columns"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (jrautomation05@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "A"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "B"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "C"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "D"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "E"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "F"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "G"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "H"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "I"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "J"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "K"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "L"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "M"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "N"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "O"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "P"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Q"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "R"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "S"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "T"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "U"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "V"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "W"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "X"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Y"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Z"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values in columns"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 14,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "duration": "60"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 890,
                                    "y": 156
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "google-sheets:getSheetContent",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6234090
                            },
                            "mapper": {
                                "from": "drive",
                                "range": "A1:Z1000",
                                "select": "list",
                                "sheetId": "Bank Transaction sheet",
                                "spreadsheetId": "/1q7Q5XzH7SnU-EHrjjvhhTZxakHT0SYeovw8zuJjieYw",
                                "includesHeaders": false,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1196,
                                    "y": 141
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "select": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Bank Transaction sheet"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Bank Transaction"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "mode": "chose"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (jrautomation05@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "list",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "range",
                                        "type": "text",
                                        "label": "Range",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "boolean",
                                        "label": "Table contains headers",
                                        "required": true
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "A"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "B"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "C"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "D"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "E"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "F"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "G"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "H"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "I"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "J"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "K"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "L"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "M"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "N"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "O"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "P"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "Q"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "R"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "S"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "T"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "U"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "V"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "W"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "X"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "Y"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "Z"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 17,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 16,
                                "rowSeparator": "\n"
                            },
                            "mapper": {
                                "value": "{{16.`0`}},{{16.`1`}},{{16.`2`}},{{16.`3`}},{{16.`4`}},{{16.`5`}},{{16.`6`}},{{16.`7`}},{{16.`8`}},{{16.`9`}},{{16.`10`}},{{16.`11`}},{{16.`12`}},{{16.`13`}},{{16.`14`}},{{16.`15`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1496,
                                    "y": 141
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Get Range Values [16]"
                                        }
                                    },
                                    "parameters": {
                                        "rowSeparator": {
                                            "label": "New row"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 18,
                            "module": "asana:UploadAttachment",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6232697
                            },
                            "mapper": {
                                "task_gid": "{{1.gid}}",
                                "file_data": "{{17.text}}",
                                "file_name": "Record.csv",
                                "selectOrMap": "map"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1796,
                                    "y": 141
                                },
                                "restore": {
                                    "expect": {
                                        "selectOrMap": {
                                            "label": "Enter manually"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "asana"
                                            },
                                            "label": "My Asana connection (jrautomation05@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:asana",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "selectOrMap",
                                        "type": "select",
                                        "label": "Enter a Task ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "select"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "file_name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "file_data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "task_gid",
                                        "type": "text",
                                        "label": "Task ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 19,
                            "module": "google-sheets:clearValuesFromRange",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6234090
                            },
                            "mapper": {
                                "from": "drive",
                                "range": "A2:Z1000",
                                "sheet": "Bank Transaction sheet",
                                "select": "list",
                                "spreadsheetId": "/1q7Q5XzH7SnU-EHrjjvhhTZxakHT0SYeovw8zuJjieYw"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2096,
                                    "y": 141
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "sheet": {
                                            "label": "Bank Transaction sheet"
                                        },
                                        "select": {
                                            "label": "Search by path"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Bank Transaction"
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (jrautomation05@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "list",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "range",
                                        "type": "text",
                                        "label": "Range",
                                        "required": true
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheet",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}