FB Page AI Chatbot.json
{
  "name": "FB Page AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=JASON’s Automation Solutions is a digital marketing and automation agency that helps businesses streamline operations through AI automation, chatbot development, CRM implementation, workflow automation, and website development.\nWhere are you located?\nOur office is located at 679 Libis St. Concepcion uno, Marikina City, Philippines. We also serve clients worldwide through virtual consultations.\nWhat are your business hours?\nMonday to Friday: 9:00 AM to 6:00 PM\nSaturday: 9:00 AM to 1:00 PM\nSunday: Closed\nHow can I contact your team?\nEmail: jasonreazon05@gmail.com\nPhone: +63 915 002 2898\nFacebook Messenger: Available 24/7\n\nServices\nWhat services do you offer?\nWe provide:\nAI Chatbot Development\nAI Agent Development\nWorkflow Automation\nCRM Setup and Management\nLead Generation Systems\nWebsite Development\nLanding Page Creation\nEmail Marketing Automation\nAppointment Booking Systems\nFacebook Messenger Automation\n\nDo you build AI chatbots?\nYes. We create AI-powered chatbots that can answer customer inquiries, qualify leads, schedule appointments, and provide support.\n\nWhat automation platforms do you use?\nWe commonly work with:\nn8n\nZapier\nMake.com\nGoHighLevel\nAirtable\nHubSpot\nGoogle Workspace\nOpenAI\nClaude AI\n\nCan you integrate with my existing software?\nYes. We can integrate most applications that provide APIs, webhooks, or third-party integrations.\n\nPricing\nHow much do your services cost?\nPricing depends on project scope and complexity.\nBasic Automation Setup:\n Starting at $100\nAI Chatbot Setup:\n Starting at $300\nCustom AI Agent:\n Starting at $500\nWebsite Development:\n Starting at $500\n\nDo you offer free consultations?\nYes. We provide a free 30-minute consultation to discuss your business needs.\n\nWhat payment methods do you accept?\nWe accept:\nBank Transfer\nPayPal\nWise\nCredit Card\nGCash\n\nAppointment Booking\nHow do I book a consultation?\nYou may schedule through:\nFacebook Messenger\nEmail\nWebsite Booking Form\nOur team will confirm your appointment within 24 hours.\n\nCan I reschedule my appointment?\nYes. Please notify us at least 24 hours before your scheduled consultation.\n\nWhat happens during the consultation?\nDuring the consultation, we will:\nUnderstand your business needs\nIdentify automation opportunities\nRecommend suitable solutions\nProvide a project estimate\n\nLead Qualification\nI want to automate my business. What information do you need?\nPlease provide:\nBusiness Name\nIndustry\nNumber of Employees\nCurrent Software Used\nMain Business Challenges\nDesired Automation Goals\n\nWhich industries do you serve?\nWe serve:\nHealthcare\nReal Estate\nE-commerce\nMarketing Agencies\nConstruction\nEducation\nProfessional Services\nFinancial Services\n\nTechnical Support\nI am experiencing issues with my chatbot.\nPlease provide:\nDescription of the issue\nScreenshot if available\nDate and time issue occurred\nOur support team will investigate and respond within 24 hours.\n\nHow long does it take to resolve technical issues?\nMost issues are resolved within:\nMinor Issues: 24 hours\nModerate Issues: 2-3 business days\nMajor Issues: 3-7 business days\n\nRefund Policy\nDo you offer refunds?\nRefunds are reviewed on a case-by-case basis.\nCompleted services are generally non-refundable.\n\nPrivacy Policy\nIs my data secure?\nYes. We follow industry best practices to protect client information and do not share data with unauthorized third parties.\n\nFrequently Asked Questions\nHow long does a project usually take?\nSimple projects:\n 3-7 days\nMedium projects:\n 1-3 weeks\nComplex projects:\n 1-3 months\n\nDo I need technical knowledge?\nNo. We handle the technical setup and provide guidance throughout the project.\n\nCan your AI chatbot answer customer questions automatically?\nYes. The chatbot can answer FAQs, collect customer information, qualify leads, and book appointments automatically.\n\nCan I request custom features?\nYes. We provide customized solutions based on your business requirements.\n\nAI Agent Instructions\nIf the customer asks about pricing:\n Provide pricing ranges and offer a free consultation.\nIf the customer wants to book an appointment:\n Collect:\nFull Name\nEmail Address\nPhone Number\nPreferred Date\nPreferred Time\nIf the customer wants a quotation:\n Collect:\nBusiness Name\nIndustry\nService Needed\nBudget Range\nProject Description\nIf the customer asks a question not found in the knowledge base:\n Politely respond:\n \"I don't have that information at the moment. Let me connect you with a member of our team for further assistance.\"\n\nKNOWLEDGE BASE:\n{{ $json.content }}\n\nCUSTOMER INQUIRY:\n{{ $('When Message comes in').item.json.body.entry[0].messaging[0].message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        64,
        240
      ],
      "id": "05ec553c-37ce-4992-8876-0db721c57d4d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "2cd574bc-e896-4426-b645-d9a547df3041",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        144
      ],
      "id": "23cc08a7-c05e-4512-aa07-b7b73cfce0e0",
      "name": "When Message comes in",
      "webhookId": "2cd574bc-e896-4426-b645-d9a547df3041"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8e4764a6-14b8-4aea-abc8-6cc8b00d2590",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "4ef2e3f2-ce86-4b34-bd6f-89734d4eeb03",
              "leftValue": "={{ $json.query.hub_verify_token }}",
              "rightValue": "Test-AI-Chatbot",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        48
      ],
      "id": "2eeaf21e-afc4-4445-9663-577017f5b050",
      "name": "Is real Human"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('When Message comes in').item.json.query.hub_challenge }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        112,
        32
      ],
      "id": "c83cce2b-80fd-4291-b72e-ef86384ad16e",
      "name": "Verify Inquiries"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1j1I7DrC4MgyuUVpXTnjSP8L7n3Vp0e0HTeiJtP7bFqA"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -144,
        240
      ],
      "id": "e6f5cd00-43b4-460a-b8db-04e05d4ae256",
      "name": "FAQs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "JyrVG8WHThn5ZzX3",
          "name": "JRaut GCP"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        64,
        496
      ],
      "id": "08b344aa-d18d-4d6c-abd7-8ac52f9334bd",
      "name": "Stored Inquiries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $('When Message comes in').item.json.body.entry[0].id }}/messages?access_token=EAAVvx6if9b8BRuSzfLmlosk73dIdz1Sg4INumqGSDBMAZA1HeAEwfO0m0pTwjzopJ9oh8b4zfuBk7Lol3B5ZB9WqqHN6jaFZA8RJxcZCxpAj5W3AZCxH6d0tNM0AXzek6wZCzwcaS0ZC0tbQUrnFuHs2XXhkZBLnP6RgYBJu7SHaVVYQnwgHud720iumgNDQj1obr2wusZB2Y1USKfmJnNGmr1amDMQZDZD",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('When Message comes in').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": {{ JSON.stringify($json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        240
      ],
      "id": "df1e3de2-ec79-4bf2-8e6b-103cc569c14b",
      "name": "Respond to Inquiries"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -176,
        496
      ],
      "id": "1464fe1e-9c48-4a79-a9c6-4a6b5144052e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Yzm4W4SvIGyx3xFN",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Inquiries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Message comes in": {
      "main": [
        [
          {
            "node": "Is real Human",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FAQs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is real Human": {
      "main": [
        [
          {
            "node": "Verify Inquiries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Inquiries": {
      "main": [
        []
      ]
    },
    "FAQs": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stored Inquiries": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ba1c5b9b-22d0-4444-a505-464a1b5bba4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b97c862887b21f462b298553eb4f1f0cc8471837972954723b2b3b61b49adce"
  },
  "nodeGroups": [],
  "id": "zygHC1PtNWXrDer2",
  "tags": []
}